absl-py==0.11.0
aiodns==2.0.0
alabaster==0.7.12
alembic==1.6.2
anaconda-client==1.7.2
anaconda-navigator==2.0.1
anaconda-project==0.8.3
aniso8601==6.0.0
antiorm==1.2.1
AnyQt @ file:///tmp/build/80754af9/anyqt_1620308448022/work
argh==0.26.2
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828585465/work
arrow==1.0.3
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///C:/ci/astroid_1592487315634/work
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel @ file:///tmp/build/80754af9/babel_1605108370292/work
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
baycomp @ file:///tmp/build/80754af9/baycomp_1594058960602/work
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bitarray @ file:///C:/ci/bitarray_1605065210072/work
bkcharts==0.2
blackwidow==0.1.6
bleach==3.1.4
bokeh @ file:///C:/ci/bokeh_1603297934731/work
boto==2.49.0
botocore==1.20.53
Bottleneck==1.3.2
brotlipy==0.7.0
CacheControl @ file:///tmp/build/80754af9/cachecontrol_1594058963164/work
cachelib==0.1.1
cachetools==4.2.1
cement==3.0.4
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1600699246375/work
chardet==4.0.0
click==8.0.0
click-plugins==1.1.1
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
commonmark==0.9.1
comtypes==1.1.7
conda==4.10.1
conda-build==3.20.5
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography @ file:///C:/ci/cryptography_1601046905460/work
curses-util==0.0.25
cycler==0.10.0
Cython @ file:///C:/ci/cython_1594829190914/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.2
defusedxml==0.6.0
dictdiffer @ file:///tmp/build/80754af9/dictdiffer_1594059095757/work
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill @ file:///tmp/build/80754af9/dill_1605066453875/work
distributed @ file:///C:/ci/distributed_1605066635297/work
dnspython==2.1.0
docopt==0.6.2
docutils==0.16
dominate==2.3.5
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
fast-histogram @ file:///C:/ci/fast-histogram_1614080403592/work
fastcache==1.1.0
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==2.0.0
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-Migrate==3.0.0
Flask-PageDown==0.3.0
Flask-RESTful==0.3.9
Flask-Session==0.3.2
Flask-SQLAlchemy==2.5.1
flask-sqlite-admin==0.3
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
flatbuffers==1.12
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
gevent @ file:///C:/ci/gevent_1601397627942/work
glob2==0.7
glue-core @ file:///C:/ci/glue-core_1614166896808/work
glue-vispy-viewers==0.12.2
glueviz @ file:///C:/ci/glueviz_1600379030367/work
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
greenlet @ file:///C:/ci/greenlet_1600885448389/work
grpcio==1.32.0
gunicorn==20.1.0
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
heroku==0.1.4
hpack==3.0.0
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore @ file:///tmp/build/80754af9/httpcore_1619735661232/work
httpx @ file:///tmp/build/80754af9/httpx_1619796489964/work
hyperframe==5.2.0
idna==2.10
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1604083276484/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==2.0.1
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1592833825077/work
Jinja2==3.0.1
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring @ file:///C:/ci/keyring_1601489747083/work
keyrings.alt==4.0.2
kiwisolver @ file:///C:/ci/kiwisolver_1604014703538/work
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
lxml @ file:///C:/ci/lxml_1603216366346/work
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.12.1
matplotlib @ file:///C:/ci/matplotlib-base_1603355780617/work
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpl-scatter-density @ file:///tmp/build/80754af9/mpl-scatter-density_1596880069366/work
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
namedtupled==0.3.3
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914925608/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1605115881283/work
networkx==1.10
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nmap==0.0.1
nose==1.3.7
notebook @ file:///C:/ci/notebook_1601501643625/work
numba==0.51.2
numexpr==2.7.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
openTSNE @ file:///C:/ci/opentsne_1594138801895/work
opt-einsum==3.3.0
orange-canvas-core @ file:///tmp/build/80754af9/orange-canvas-core_1594066201346/work
orange-widget-base @ file:///tmp/build/80754af9/orange-widget-base_1594068927460/work
Orange3 @ file:///C:/ci/orange3_1594070678918/work
packaging==20.4
pandas @ file:///C:/ci/pandas_1602083338010/work
pandocfilters @ file:///C:/ci/pandocfilters_1605102497129/work
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parso==0.7.0
partd==1.1.0
passlib==1.7.4
path @ file:///C:/ci/path_1598358556930/work
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
peewee==3.14.4
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1603823068645/work
pipreqs==0.4.10
pkginfo==1.6.1
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
pluggy==0.13.1
ply==3.11
portscanner==0.5.3
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.15.5
psutil @ file:///C:/ci/psutil_1598370330503/work
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyflakes==2.2.0
pygame==2.0.1
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pylint @ file:///C:/ci/pylint_1598617153160/work
pymongo==3.11.4
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pynndescent @ file:///tmp/build/80754af9/pynndescent_1615819933979/work
pyodbc===4.0.0-unsupported
PyOpenGL==3.1.1a1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyqtgraph @ file:///tmp/build/80754af9/pyqtgraph_1594064840332/work
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141795814/work
PySocks==1.7.1
pytest==0.0.0
python-dateutil==1.5
python-editor==1.0.4
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
python-louvain @ file:///tmp/build/80754af9/python-louvain_1612304551119/work
python-time==0.3.0
python-whois==0.7.3
PythonTurtle==0.3.2
pytz==2020.1
PyWavelets @ file:///C:/ci/pywavelets_1601658407916/work
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
random2==1.0.1
regex @ file:///C:/ci/regex_1602770567298/work
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986 @ file:///tmp/build/80754af9/rfc3986_1594058972433/work
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.7.2
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1604596260408/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
semantic-version==2.8.5
Send2Trash==1.5.0
serverfiles==0.3.1
shodan==1.25.0
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
sip==4.19.13
six==1.12.0
sniffio @ file:///C:/ci/sniffio_1614030707456/work
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///C:/ci/spyder_1599054115447/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1599051709837/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1603818908746/work
sqlite-web==0.3.7
statsmodels==0.12.0
sympy @ file:///C:/ci/sympy_1605101511098/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2020.10.1
times==0.7
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
ujson @ file:///C:/ci/ujson_1602505266082/work
unicodecsv==0.14.1
urllib3==1.26.4
visitor==0.1.3
watchdog @ file:///C:/ci/watchdog_1593447437088/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==2.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
windows-curses==2.2.0
wrapt==1.12.1
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarg==0.1.9
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1602002494740/work
